<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/homepage.css" rel="stylesheet">
  <title>Gmeet Clone</title>
</head>
<body>
  <div class="container">
    <div class="main-section">
      <p class="main-header">Video Chat Web App for free</p>
      <p class="main-info">We provide premium meetings with amazing features, free for all</p>
      <div class="Login">
        <a href="http://localhost:3000/auth/google">
          <button type="button" class="logoutButton"
          name="logoutButton">Login</button>
        </a>
      </div>
      <div class="Logininfo">
        <p>Login to continue!!</p>
      </div>
    </div>
  </div>
</body>
</html>
