<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gmeet Clone</title>
  <link href="/schedulemeeting.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js" ></script>
  <script>
    const userName = "<%= userinfo.displayName %>";
    const userEmail = "<%= userinfo.email %>";
  </script>
</head>
<body>
  <div class="main">
    <div class="top_section">
      <div class="top_header">
        <p>Welcome <%= userinfo.displayName %></p>
      </div>
      <div class="Logout">
        <a href="http://localhost:3000/logout">
          <button type="button" class="logoutButton" name="logoutButton">Logout</button>
        </a>
      </div>
    </div>
    <div class="main_info">
      <p>Schedule your Meeting</p>
    </div>
    <div class="main_section">
      <div class="main_left">
        <div class="left_section">
          <div class="date_div">
            <span>Meeting Date: </span>
            <input type="date" class="meetingDate" name="meetingDate">
          </div>
          <div class="time_div">
            <span>Meeting Time: </span>
            <input type="time" class="meetingTime" name="meetingTime">
          </div>
          <div class="meetingAgendaDiv">
            <span>Meeting Agenda: </span>
            <input type="text" placeholder="Agenda for Meeting" class="guest_agenda" name="guest_agenda">
          </div>
        </div>
        <div class="submit_button_div">
          <button onclick="submit()" type="submit" name="meetingSubmitButton" class="meetingSubmitButton">Submit</button>
        </div>
      </div>
      <div class="right_section">
        <input type="text" placeholder="Add Guests" class="guest_input" name="guest_input">
        <div class="guestButtondiv">
          <button onclick="addGuest()" type="button" name="addGuestsButton" class="addGuestsButton">Add Guest</button>
        </div>
      </div>
    </div>
  </div>
  <script src="schedulemeeting.js"></script>
</body>
</html>
