body{
  margin: 0px;
  width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
}
.main{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.top_section{
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.top_header{
  font-size: 25px;
}
.main_info{
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  font-size: 50px;
}
.main_section{
  width: 100%;
  height: 100%;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.main_left{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.main_right{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.back_div{
  display: flex;
  justify-content: flex-end;
}
.meetingSubmitButton{
  margin: 50px 0px;
  padding: 5px;
  border: 2px solid #3477eb;
  background-color: #3477eb;
  border-radius: 5px;
  font-size: 26px;
  color: #FFFFFF;
  cursor: pointer;
}
.left_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.date_div{
  margin-bottom: 10px;
  font-size: 26px;
}
.meetingDate{
  font-size: 26px;
}
.time_div{
  margin-bottom: 10px;
  font-size: 26px;
}
.meetingTime{
  font-size: 26px;
}
.right_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.meetingAgendaDiv{
  font-size: 26px;
  margin-bottom: 10px;
}
.guest_agenda{
  font-size: 26px;
}
.guest_input{
  font-size: 26px;
  margin-bottom: 10px;
}
.addGuestsButton{
  padding: 5px;
  border: 2px solid #3477eb;
  background-color: #3477eb;
  border-radius: 5px;
  font-size: 22px;
  color: #FFFFFF;
  cursor: pointer;
}
.logoutButton{
  padding: 5px;
  border: 2px solid #EB534B;
  background-color: #EB534B;
  border-radius: 5px;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 16px;
}
.back_button{
  margin: 50px 0px;
  padding: 5px;
  border: 2px solid #3477eb;
  background-color: #3477eb;
  border-radius: 5px;
  font-size: 26px;
  color: #FFFFFF;
  cursor: pointer;
}
